.w3-top{position:fixed;width:100%;z-index:1000}
.w3-top{top:0}
.w3-circle{border-radius:50% !important}
.w3-hover-opacity{-webkit-transition:all 0.3s ease;transition:all 0.3s ease}
.w3-hover-opacity:hover{opacity:0.60}
.w3-center{text-align:center !important}
#logo
{
height: 55px;
width: 200px;
float: left;
}
.w3-container{position: relative;padding:0.01em 16px}
#navigation {
    list-style-type: none;
    margin-right: 150px;
    margin-left: 150px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#tabs {
    float: left;
}
#login_register {
    float: right;
}
#tabs a, .dropbtn , #login_register a{
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 16px;
    padding-right: 44px;
    padding-bottom: 16px;
    padding-left:24px;
    text-decoration: none;
}

#tabs a:hover, #login_register a:hover , .dropdown:hover .dropbtn {
    background-color: red;
    height: 23px;
}

li.dropdown {
    display: inline-block;
    position:static;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}